# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/
.venv/
ENV/
env/
# Note: You might need to adjust this based on how you name and place your virtual environments

# Django specific
db.sqlite3
media/
staticfiles/

# Django migration files
*/migrations/*
!*/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.kate-swp
*.komodoproject

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
*.log

# Test and coverage reports
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.log

# Environment-specific
.env
*.env

# pyenv
.python-version

# pipenv
Pipfile.lock

# pip
pip-wheel-metadata/
